Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

**Objectives:**
- List popular languages for Data Science(ordered list)
- List popular Data Science libraries(ordered list)
- Create a table for Data Science tools
- List down some examples of arithematic expressions 
- Create a code cell to convert minutes to hours

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2.  R
3.   Scala
4.    C/C++
5. Java
6.  JavaScript
7.   MATLAB

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3.  Seaborn
4.   Matplotlib
5.   Scikit-learn
6. TensorFlow
7. Keras
8.  PyTorch

Exercise 6 - Create a markdown cell with a table of Data Science tools

Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

| Data Science Tools |
|--------------------|
|      Orange        |
|      H2O.ai        |
|    Apache Spark    |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python:
- 2+3*9
- 10/2+8
- 2**5
- (10-4)/6
- 12+6-7*5/5

Exercise 8 - Create a code cell to multiply and add numbers

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [3]:
#This code will convert 200 minutes to hours by diving by 60.
hours=200
minutes=hours/60
print(minutes)

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Srushti Avinash Joshi